# ====================
# Run Configuration
# ====================
run:
  name: model_1
  runs_dir: ./runs

# ====================
# Training Parameters
# ====================
train:
  epochs: 1

# ====================
# Model Configuration
# ====================
model:
  backbone: microsoft/mdeberta-v3-base

# ====================
# Dataset Configuration
# ====================
data:
  batch_size: 32

# ====================
# Logging Configuration
# ====================
logging:

  wandb:
    enable: true
    save_ckpt: 0

  loss_steps: 10
  valid_steps: 500
  ckpt_steps: 5000
